@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: linear-gradient(90deg, #111, #1f1f1f);
    border-bottom: 2px solid #ff3c78;
}

.logo {
    color: #ff3c78;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ff3c78;
}

header {
    text-align: center;
    padding: 60px 20px;
}

.intro {
    margin-top: 15px;
    max-width: 600px;
    margin-inline: auto;
    opacity: 0.8;
    font-size: 20px;
}


body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background: url('https://res.cloudinary.com/duzljw2pp/image/upload/v1771491280/Solo-Leveling-Fondo_bg8u8l.jpg') no-repeat center center/cover;
    position: relative;
    color: white;
}


body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: -1;
}

h1 {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 40px;
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    letter-spacing: 3px;
    color: #ff3c78;
    text-shadow: 0 0 20px #ff3c78;
}

.container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 50px;
    flex-wrap: wrap;
}


.manga-card {
    width: 420px;
    height: 650px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.manga-card:hover {
    transform: scale(1.05) translateY(-10px);
}


.manga-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: 0.5s ease;
}


.jujutsu {
    background-image: url('https://res.cloudinary.com/duzljw2pp/image/upload/v1771488723/Jujutsu-Kaisen-Imagen_jkjvs6.jpg');
}

.solo {
    background-image: url('https://res.cloudinary.com/duzljw2pp/image/upload/v1771489312/Solo-Leveling-Imagen_grtib2.jpg');
}


.manga-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.95), rgba(0,0,0,0.6));
    transform: translateY(100%);
    transition: 0.5s ease;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.manga-card:hover .manga-info {
    transform: translateY(0);
}

.manga-info h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #ff3c78;
}

.manga-info p {
    margin-bottom: 8px;
    font-size: 0.95rem;
}

.footer {
    margin-top: 60px;
    padding: 20px;
    background-color: #111;
    border-top: 2px solid #ff3c78;
    text-align: center;
    font-size: 0.9rem;
}

.footer a {
    color: #ff3c78;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    color: white;
}
